
<p>
	<strong>Usuario:<strong>
	<%= comment.commenter %>
</p>
<p>
	<strong>Comentario:<strong>
	<%= comment.body %>
</p>

<p>
	<%= link_to 'Eliminar comentario', [comment.article, comment], method: :delete, data: {confirm: 'Seguro?'} %>
</p>