<h1>Lista de articulos</h1>
<%= link_to 'Crear articulo', new_article_path %>
<table>
	<tr>
		<th>Titulo</th>
		<th>Texto</th>
		<th colspan="3">Link</th>
	</tr>
	<% @articles.each do |article| %>
	<tr>
		<td><%= article.title %></td>
		<td><%= article.text %></td>
		<td><%= link_to 'Ver', article_path(article) %></td>
		<td><%= link_to 'Editar', edit_article_path(article) %></td>
		<td><%= link_to 'Borrar', article_path(article), method: :delete, data: {confirm: 'Seguro?'} %></td>
	</tr>
	<% end %>
</table>