<p>
	<strong>Titulo:</strong>
	<%= @article.title %>
</p>

<p>
	<strong>Texto:</strong>
	<%= @article.text %>
</p>

<h2>Comentarios</h2>
<%= render @article.comments %>

<h2>Agregar comentario:</h2>
<%= render 'comments/form' %>



<%= link_to 'Editar', edit_article_path(@article) %>
<%= link_to 'Borrar', @article, method: :delete, data: {confirm: 'Seguro?'} %>
<%= link_to 'Regresar', articles_path %>
